<div class="panel panel-default">
    <div class="panel-body">
      <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
        <h1>Create a Recipe</h1>
          <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control required" size="120" max="120" name="name"
              [ngModel]="recipe?.name" #name="ngModel" required>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control required" size="120" max="255" name="description"
              [ngModel]="recipe?.description" #description="ngModel" required>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="ingredients">Ingredients</label>
            <input type="text" id="ingredients" class="form-control" size="150" max="255" name="ingredients"
              [ngModel]="recipe?.ingredients" #ingredients="ngModel">
          </div>

          <div class="col-sm-12 form-group">
            <label for="imageUrl">Image Url</label>
            <input type="imageUrl" id="imageUrl" class="form-control required" size="150" max="255" name="imageUrl"
              [ngModel]="recipe?.imageUrl" #imageUrl="ngModel" required>
          </div>

          <div class="alert alert-danger"
            *ngIf="(name.touched && !name.valid)">
            The Name is required.
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" [disabled]="!f.valid">Create Recipe</button>
              <button class="btn btn-primary" type="button" routerLink="/recipes">Cancel</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  