<div class="row">
  <div class="col-md-12">
    <a routerLink="/starred/0">
      <img src="https://cdn.pixabay.com/photo/2017/08/30/17/12/waffle-heart-2697904_1280.jpg" alt=""
        class="img-responsive img-rounded">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a routerLink="/starred/1">
      <img src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_1280.jpg" alt=""
        class="img-responsive img-rounded">
    </a>
  </div>
  <div class="col-md-6">
    <a routerLink="/starred/2">
      <img src="https://cdn.pixabay.com/photo/2010/12/13/10/05/background-2277_1280.jpg" alt=""
        class="img-responsive img-rounded">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a routerLink="/starred/3">
      <img src="https://cdn.pixabay.com/photo/2016/04/13/07/18/blueberry-1326154_1280.jpg" alt=""
        class="img-responsive img-rounded">
    </a>
  </div>
  <div class="col-md-6">
    <a routerLink="/starred/4">
      <img src="https://cdn.pixabay.com/photo/2017/06/02/18/24/fruit-2367029_1280.jpg" alt=""
        class="img-responsive img-rounded">
    </a>
  </div>
</div>
